* {
    padding: 0;
    margin: 0;
    transition: all 0.2s ease;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: B612, sans-serif;
    font-size: 1em;
    color: #000;
    background-image: linear-gradient(#e9d8a6, #097969);
}

header {
    background-color: #03071e;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 100%;

}

footer {
    margin-top: 50em;
    background-color: #03071e;
}

.internals {
    display: inline-block;
    width: fit-content;
    text-align: center;
}

.externals {

    width: fit-content;
    text-align: center;
    float: right;
}

.header-button {
    color: aliceblue;
    text-decoration: none;
    margin-left: 2em;
    margin-right: 2em;
}

.principal {
    margin-top: 2em;
    margin-bottom: 2em;
    height: 28em;
}

.profile-img {
    width: 20em;
    border-radius: 10em;
    border: 2px solid #03071e;
    box-shadow: 1em 1em 2em black;
    display: block;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.profile-img:hover {
    box-shadow: 2em 2em 3em black;
    width: 22em;
    border-radius: 11em;
}

.page-title {
    text-align: center;
    font-size: 3em;
}

.section-title {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.text-box {
    width: 50%;
    display: block;
    margin: auto;
    text-indent: 4em;
    text-align: justify;
    text-justify: auto;
    margin-bottom: 5em;
}

.centered-text {
    text-align: center;
}

.hecto-link {
    color: #000;
}