* {
	padding: 0;
	margin: 0;
	transition: all 0.3s linear;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: B612, sans-serif;
	font-size: 1em;
	color: #000;
	background-image: linear-gradient(#ecdeb2, #009c68);
}

main {
	margin-top: 83px;
	text-align: center;
}

header {
	background-color: #03071e;
	padding-top: 2em;
	padding-bottom: 2em;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 2;
}

section {
	padding: 2em 0;
	margin: auto;
}

ul {
	text-align: center;
}

footer {
	background-color: #03071e;
	color: #ecdeb2;
	padding-top: 1em;
	padding-bottom: 2em;
	width: 100%;
	position: relative;
	max-height: fit-content;
}

.internals {
	display: inline-block;
	width: fit-content;
	text-align: center;
}

.externals {
	width: fit-content;
	text-align: center;
	float: right;
}

.header-button {
	color: #ecdeb2;
	text-decoration: none;
	margin-left: 2em;
	margin-right: 2em;
}

.header-button:hover {
	color: #e7c458;
}

.principal {
	padding-top: 2em;
}

.profile-img {
	width: 20em;
	border-radius: 10em;
	border: 2px solid #03071e;
	box-shadow: 1em 1em 2em #03071e;
	display: block;
	margin: auto;
}

.profile-img:hover {
	box-shadow: 2em 2em 3em #03071e;
	transform: scale(1.05);
	border-radius: 11em;
	z-index: 1;
}

.page-title {
	text-align: center;
	font-size: 2em;
	padding-bottom: .5em;
}

.section-title {
	text-align: center;
	padding-bottom: 1em;
}

.text-box {
	width: 55%;
	display: block;
	margin: auto;
	text-indent: 4em;
	text-align: justify;
	text-justify: distribute;
}

.centered-text {
	text-align: center;
}

.hecto-link {
	color: #000;
}

.skills-list {
	list-style-type: none;
	text-indent: 0;
	line-height: 1.75em;
}

/* 
.fire-table {
	border-collapse: collapse;
	border: 0;
}

.fire-section td {
	width: 50px;
	height: 50px;
	border: 1px solid #000;
	text-align: center;
	vertical-align: center;
	font-size: 18px;
	position: relative;
}

td.pixel {
	width: 10px;
	height: 7px;
	border: 0;
}

.pixel-index {
	font-size: 10px;
	display: inline-block;
	position: absolute;
	top: 2px;
	right: 2px;
	color: #999;
} */

.btns-box {
	width: 55%;
	margin: 1em auto;
}

.btn {
	border: .2rem solid #03071e;
	border-radius: 5em;
	box-shadow: .5rem .5rem 1rem #03071e;
	background-color: #ecdeb2;
	transition-duration: 0.1s;
	font-family: 'B612';
}

.btn:hover {
	cursor: pointer;
	transform: scale(1.12);
	color: #000;
}

.project-btn {
	font-size: x-large;
	height: 3rem;
	width: 20%;
	margin: 0 2% 1em;
}

.top-btn {
	float: right;
	position: relative;
	top: -8.2em;
	right: .4em;
}

.up-arrow {
	font-size: 5em;
	color: #03071e;
	text-decoration: none;
}

.box {
	border: .2rem solid #03071e;
	border-radius: 3rem;
	box-shadow: .5rem .5rem 1rem #03071e;
	background-color: #ecdeb2;
	color: #03071e;
	padding: 2rem 0;
}
