* {
	padding: 0;
	margin: 0;
	box-sizing: content-box;
}

html {
	scroll-behavior: smooth;
}

p {
	margin: 0
}

body {
	font-family: 'B612', sans-serif;
	font-size: 1rem;
	width: 100%;
	background-image: linear-gradient(#ecdeb2, #009c68);
}

main {
	margin-top: 10vh;
	padding: 0 25%;
	text-align: center;
	background-image: linear-gradient(#ecdeb2, #009c68);
}

header {
	background-color: #03071e;
	padding: 3.5vh 0;
	height: 3.5vh;
	position: fixed;
	top: 0;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

section {
	padding: 2rem 0;
	margin: auto;
}

ul {
	text-align: center;
}

footer {
	background-color: #03071e;
	color: #ecdeb2;
	height: 6rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-button {
	padding: 0 2rem;
	color: #ecdeb2;
	text-decoration: none;
	transition: all 0.15s ease-out;
}

.internals {
	margin-left: 4rem;
	font-size: large;
}

.externals {
	margin-right: 4.25rem;
	font-size: xx-large;
}

.header-button:hover {
	color: #e7c458;
}

.principal {
	padding-top: 2rem;
}

.profile-img {
	width: 20rem;
	border-radius: 10rem;
	border: 2px solid #03071e;
	box-shadow: 1rem 1rem 2rem #03071e;
	display: block;
	margin: auto;
	transition: all 0.15s ease-out;
}

.profile-img:hover {
	box-shadow: 2rem 2rem 3erm #03071e;
	transform: scale(1.1);
	z-index: 1;
}

.page-title {
	text-align: center;
	font-size: 2rem;
	padding-bottom: .5rem;
}

.section-title {
	text-align: center;
	padding-bottom: 1rem;
}

.text-box {
	display: block;
	margin: auto;
	text-indent: 4rem;
	text-align: justify;
	text-justify: distribute;
}

.centered-text {
	text-align: center;
}

.hecto-link {
	color: #000;
}

.skills-list {
	list-style-type: none;
	text-indent: 0;
	line-height: 1.75rem;
}

/* 
.fire-table {
	border-collapse: collapse;
	border: 0;
}

.fire-section td {
	width: 50px;
	height: 50px;
	border: 1px solid #000;
	text-align: center;
	vertical-align: center;
	font-size: 18px;
	position: relative;
}

td.pixel {
	width: 10px;
	height: 7px;
	border: 0;
}

.pixel-index {
	font-size: 10px;
	display: inline-block;
	position: absolute;
	top: 2px;
	right: 2px;
	color: #999;
} */

.btns-box {
	margin: 1rem auto;
}

.btn {
	border: .2rem solid #03071e;
	border-radius: 5rem;
	box-shadow: .5rem .5rem 1rem #03071e;
	background-color: #ecdeb2;
	transition: all 0.15s ease-out;
	font-family: 'B612';
}

.btn:hover {
	cursor: pointer;
	transform: scale(1.12);
	color: #03071e;
}

.project-btn {
	font-size: x-large;
	height: 3rem;
	width: 20%;
	margin: 0 2% 1rem;
}

.top-btn {
	position: relative;
	float: right;
	right: -28rem;
	top: -1.5rem;
}

.up-arrow {
	font-size: 5rem;
	color: #03071e;
	text-decoration: none;
}

.up-arrow:hover {
	color: #03071e;
}

.box {
	border: .2rem solid #03071e;
	border-radius: 3rem;
	box-shadow: .5rem .5rem 1rem #03071e;
	background-color: #ecdeb2;
	color: #03071e;
	padding: 2rem 0;
}
